/* .img-content {
    background-color: rgb(219, 219, 219);
} */


.btn-add-to-cart {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.btn-add-to-cart>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
}

.btn-add-to-cart:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
}

.btn-add-to-cart:hover>i {
    opacity: 1;
    visibility: visible;
}

.ant-modal-body {
    padding: 0 !important;
}